@media (max-width: 480px) {
  #caroussel {
    width: 300px;
    height: 250px;
    max-width: 320px;
  }
  #video {
    width: 300px;
    height: 150px;
    max-width: 320px;
  }
  #videoname {
    width: 300px;
  }
  #dots {
    font-size: 10px !important;
  }
  .fa-solid {
    font-size: 30px !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #caroussel {
    width: 480px;
    height: 400px;
    max-width: 500px;
  }
  #video {
    max-width: 500px;
    width: 480px;
    height: 300px;
  }
  #videoname {
    width: 480px;
  }
}

@media (min-width: 769px) {
  #caroussel {
    width: 500px;
    height: 400px;
  }
  #video {
    width: 500px;
    height: 300px;
  }
  #videoname {
    width: 500px;
  }
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.fa-solid {
  font-size: 50px;
  cursor: pointer;
  color: #186d6d;
  padding: 0 10px;
  height: 100px;
}

h1 {
  text-align: center;
}

#videoname {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: black;
  color: white;
}

.unselecteddot {
  color: rgb(153, 151, 151);
  cursor: pointer;
  padding: 0 10px;
}

.selecteddot {
  color: #186d6d;
  cursor: pointer;
  padding: 0 10px;
}

#dots {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
