@media (min-width: 320px) and (max-width: 480px) {
  .comment-name {
    grid-column: 1/5;
    font-size: 14px;
  }
  .comment-email {
    grid-column: 5/10;
    font-size: 14px;
    overflow: scroll;
  }
}

@media (min-width: 481px) {
  .comment-name {
    grid-column: 2/6;
  }
  .comment-email {
    grid-column: 6/10;
  }
}

body {
  font-family: 'Albert Sans', sans-serif;
  padding: 10px 30px;
  background-color: #0e0b18;
  color: #FFFBEB;
  text-align: center;
  font-weight: 100 !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

#name {
  margin: 8px;
  font-family: 'Albert Sans', sans-serif;
}

#email {
  margin: 8px;
  font-family: 'Albert Sans', sans-serif;
}

#comment {
  margin: 8px;
  font-family: 'Albert Sans', sans-serif;
  width: 230px;
}

#counter {
  margin: 5px;
}

#submitbtn {
  margin: 8px;
  font-family: 'Albert Sans', sans-serif;
  font-size: bold;
}

#submitbtn {
  padding: 8px 45px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    transparent 0%,
    rgba(255, 255, 255, .9) 51%,
    transparent 100%
  );
  background-size: 300%;
  outline: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
  letter-spacing: .2em;
  transition: 300ms ease-in-out background-position;
}

#submitbtn:hover {
  background-position: right top;
}

.red {
  background-color: red !important;
}

#comment-list {
  color: #fff;
}

.comment-item {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 30px auto;
  background-color: rgb(234, 234, 232);
  color: black;
  border: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}
.comment-name {
  margin: 0;
  align-self: center;
}
.comment-email {
  margin: 0;
  align-self: center;
}
.comment-content {
  border-top: solid black 1px;
  margin: 0;
  align-self: center;
  grid-column: 2/10;
}
